body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(100deg, rgba(50, 175, 175, 0.7) 10%, rgba(247, 11, 11, .6) 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.head{
  font-family: jetBrains Mono;
  font-size: 72px;
  color: rgb(3, 148, 153);
  font-weight: bold;
}